Body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3e3d53;
    font-family: 'Kanit', sans-serif;
}

#targetBtn {
    padding: 10px;
    /* background-color: #4CAF50; */
    background-image: linear-gradient(to bottom right, rgb(22, 180, 35) 15%, rgb(8, 114, 185));
    color: white;
    font-size: 16px;
    border: 3px solid rgba(255, 255, 255, .85);
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#targetBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.774);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 50%;
    z-index: -1;
}

#targetBtn.clicked::after {
    opacity: 1;
}

#title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: rgba(0, 0, 0, 0.2);
    /* Transparent black  */
    pointer-events: none;
    z-index: 0;
    text-align: center;
}

p {
    font-size: .5em;
}

.overlay {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOutAndExpand 1s forwards;
    z-index: -1;
}

@keyframes fadeOutAndExpand {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}